/* Hintergrundfarbe der gesamten Webseite */
body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
}

h1 {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    position: relative;
}

table th,
table td {
    width: 50px;
    height: 90px;
    text-align: center;
    font-size: 24px;
    border: 1px solid white;
    cursor: pointer;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

/* Stil für die X- und O-Symbole */
.cell.cross {
    color: red;
}

.cell.circle {
    color: blue;
}

/* Stil für die Tabelle */
table {
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

table td {
    border: 5px solid rgb(197, 197, 197);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.symbol-container {
    width: 70px; /* Breite der Container */
    height: 70px; /* Höhe der Container */
    display: inline-block;
    vertical-align: middle; /* Vertikal zentriert innerhalb des td */
    text-align: center; /* Zentriert den Text horizontal innerhalb des Containers */
}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.mt-32 {
    margin-top: 32px;
}
/* Stil für den Restart-Button */
#restart-button {
    display: block;
    margin: 20px auto; /* Zentriert den Button horizontal */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00B0EF; /* Hintergrundfarbe des Buttons */
    color: white; /* Textfarbe */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s ease; /* Animation für Hintergrundfarbänderungen */
}

#restart-button:hover {
    background-color: #0097D7; /* Hintergrundfarbe ändert sich beim Hover */
}
